@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h3>Project Details</h3>
    <p class="lead">
        This Application is used to build suggest various recipes based on Ingredients.<br />
        It is Mini. Project developed for the collage submission under guidance of Professors.<br />
        for more information contact <a href="http://www.pccoepune.com/">PCCoE</a> MCA dept.
    </p> 
</div>
