@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Application is used to build suggest various recipes based on Ingredients. It is Mini. Project developed for the collage submission under guidance of Professors.<br />
   for more information contact <a href="http://www.pccoepune.com/">PCCoE</a> MCA dept. 
</p>
