@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome Recipe Suggestion</h1>
    <p class="lead">search recipe through Ingredient <br />Start your journey with us.</p>
    <p><a href="@Url.Action("ShowIng","Home")" >Let's Go &raquo;</a></p>
</div>

